<header class="text-center">
  {{ with .Site.Params.authorImage }} <img src="{{ $.Site.BaseURL }}img/{{ . }}" class="img-circle s200"> {{ end }}

  {{ with .Site.Params.title }}
    <h1 class="border-bottom add-padding-bottom"><a href="{{ $.Site.BaseURL }}">{{ . | markdownify }}</a></h1>
  {{ end }}
	
  {{ with .Site.Params.subtitle }}
    <h2 class="text-right add-padding-right">{{ . | markdownify }}</h2>
  {{ end }}

  {{ with .Site.Params.description }}
    <p class="text-right remove-margin-bottom add-padding-right">{{ . | markdownify }}</p>
  {{ end }}
    <div class="text-right add-padding-right">

      {{with .Site.Params.email}}
      <a href="mailto:{{.}}"><i class="fa fa-email-square fa-2x"></i></a>
      {{end}}

      {{with .Site.Params.github}}
      <a href="https://github.com/{{.}}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
      {{end}}

      {{with .Site.Params.twitter}}
      <a href="https://twitter.com/{{.}}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
      {{end}}

      {{with .Site.Params.linkedin}}
      <a href="https://www.linkedin.com/in/{{.}}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
      {{end}}

      <a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 

    </div>

</header>


